{
  "presets": [
    ["env", {
      "useBuiltIns": true,
//      "targets": { "node": true }
      "targets": { "node": 6 }
//      "targets": { "node": "current" }
    }]
  ],
  "plugins": [
    "closure-elimination"
  ],
  "ignore": ["node_modules"]
}
