root=true

[*]
# if change line length don't forget set same value:
#  - for `max-len` rule in `eslint` config
#  - for `printWidth` option in `prettier` config
max_line_length = 120
indent_style = space
indent_size = 2
end_of_line = lf
insert_final_newline = true
charset = utf-8

[*.md]
trim_trailing_whitespace = false

[src/**/*.{js,mjs,ts,json}]
trim_trailing_whitespace = true
